.container {
  width: 325px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.add-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
}
.todo-item-container {
  display: grid;
  width: 100%;
  margin: 10px 0;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px;
}
.todo-item-container :first-child {
  grid-column: span 2;
}
.todo-item {
  font-size: 20px;
  margin: 0;
}
@media only screen and (min-width: 700px) {
  .container {
    width: 400px;
  }
  .add-item-container {
    width: 400px;
  }
}
